{
    "Plugin": {
        "Web::Auth": [
            {
                'module': 'Github',
                'key': 'Github Client ID',
                'secret': 'Github Secret'
            }
        ]
    }
}
